
<head>
    <style type="text/css">
        .auto-style1 {
            width: 630px;
            height: 56px;
        }
        .auto-style2 {
            text-align: center;
        }
        .auto-style3 {
            width: 601px;
        }
        .auto-style6 {
            text-align: left;
        }
        .auto-style7 {
            width: 575px;
        }
        .auto-style8 {
            width: 215px;
        }
        .auto-style9 {
            width: 26px;
            height: 19px;
        }
    </style>
</head>
@{
    ViewBag.Title = "AddTestView";
}

<h2 class="auto-style2">New test</h2>
<p class="auto-style6">Caption<input id="Text5" class="auto-style7" type="text" /></p>
<p class="auto-style6">Timer
    <textarea id="TextArea2" class="auto-style8" name="S2" rows="2">timepicker</textarea></p>

<p>
    Question</p>
<p>
    <textarea id="TextArea1" class="auto-style1" name="S1"></textarea></p>
<p>
    Answers</p>
<p>
    <input id="Checkbox1" type="checkbox" /><input id="Text1" class="auto-style3" type="text" value="Answer1"/></p>


<p>
    <input id="Checkbox2" type="checkbox" /><input id="Text2" class="auto-style3" type="text" value="Answer1"/></p>
<p>
    <input id="Checkbox3" type="checkbox" /><input id="Text3" class="auto-style3" type="text" value="Answer1"/></p>
<p>
    <input id="Checkbox4" type="checkbox" /><input id="Text4" class="auto-style3" type="text" value="Answer1"/></p>
<hr />

<p>
    Question</p>
<p>
    <textarea id="TextArea3" class="auto-style1" name="S3" cols="20" rows="1"></textarea></p>
<p>
    Answers</p>
<p>
    <input id="Checkbox5" type="checkbox" /><input id="Text7" class="auto-style3" type="text" value="Answer1"/></p>


<p>
    <input id="Checkbox6" type="checkbox" /><input id="Text8" class="auto-style3" type="text" value="Answer1"/></p>
<p>
    <input id="Checkbox7" type="checkbox" /><input id="Text9" class="auto-style3" type="text" value="Answer1"/></p>
<p>
    <input id="Checkbox8" type="checkbox" /><input id="Text10" class="auto-style3" type="text" value="Answer1"/></p>


<p>
    &nbsp;</p>
<p>
    Save and add <input id="Text6" class="auto-style9" type="text" value="0" /> more questions
    <input id="Button1" type="button" value="button" /></p>
<p>
    &nbsp;</p>




