
<head>
    <style type="text/css">
        .auto-style17 {
            width: 62%;
            height: 227px;
            margin-right: 0px;
            margin-top: 0px;
        }
        .auto-style18 {
            height: 23px;
            width: 124px;
            text-align: center;
        }
        .auto-style19 {
            height: 23px;
            width: 291px;
            text-align: center;
        }
        .auto-style20 {
            height: 23px;
            width: 96px;
            text-align: center;
        }
        .auto-style21 {
            height: 23px;
            width: 112px;
            text-align: center;
        }
        .auto-style22 {
            height: 3px;
            width: 124px;
            text-align: center;
        }
        .auto-style23 {
            height: 3px;
            width: 291px;
            text-align: center;
        }
        .auto-style24 {
            height: 3px;
            width: 96px;
            text-align: center;
        }
        .auto-style25 {
            height: 3px;
            width: 112px;
            text-align: center;
        }
        .auto-style26 {
            width: 124px;
            text-align: center;
            height: 2px;
            background-color: #53ACAC;
        }
        .auto-style27 {
            width: 291px;
            text-align: center;
            height: 2px;
            background-color: #53ACAC;
        }
        .auto-style28 {
            width: 96px;
            text-align: center;
            height: 2px;
            background-color: #53ACAC;
        }
        .auto-style29 {
            width: 112px;
            text-align: center;
            height: 2px;
            background-color: #53ACAC;
        }
        .auto-style30 {
            width: 105px;
            margin-left: 0px;
        }
        .auto-style31 {
            width: 275px;
            margin-left: 600px;
        }
        .auto-style32 {
            width: 112px;
        }
    </style>
</head>
@{
    ViewBag.Title = "ResultsView";
}

<h2 style="text-align: center">Results view</h2>
<div class="auto-style31">
    Filter by
    <select id="Select1" class="auto-style30" name="D1">
        s
    </select><input id="Text1" class="auto-style32" type="text" /></div>
<table align="center" class="auto-style17">
    <tr>
        <td class="auto-style26"><strong>User (login)</strong></td>
        <td class="auto-style27"><strong>Test (caption)</strong></td>
        <td class="auto-style28"><strong>Result</strong></td>
        <td class="auto-style29"><strong>Date and time</strong></td>
    </tr>
    <tr>
        <td class="auto-style22">Petka</td>
        <td class="auto-style23">Elementary math</td>
        <td class="auto-style24">14/22</td>
        <td class="auto-style25">01/02/2017 12:32</td>
    </tr>
    <tr>
        <td class="auto-style22">Vaska</td>
        <td class="auto-style23">OOP Java</td>
        <td class="auto-style24">4/10</td>
        <td class="auto-style25">14/03/2017 14:15</td>
    </tr>
    <tr>
        <td class="auto-style18">Gorik</td>
        <td class="auto-style19">World of animals</td>
        <td class="auto-style20">11/12</td>
        <td class="auto-style21">29/03/2017 13:29</td>
    </tr>
</table>


