@model List<QuizAsp.Entities.Test>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <p>
                        List of tests

                        <button align="right" type="button" class="btn btn-default btn-sm black-btn">                           
                             <a href ="@Url.Action("Create", "Tests")"
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                        </button>
                    </p> 
                </li>
                @foreach (var test in Model)
                {
                    <li>
                        <a href="@Url.Action("Information", "Tests", new { id = test.Id })">
                            @string.Format("{0} ({1})", test.Caption, test.Question.Count)
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</body>
