<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        List of tests
                    </a>
                </li>
                <li>
                    <a href="#">Test 1</a>
                </li>
                <li>
                    <a href="#">test 2</a>
                </li>
                <li>
                    <a href="#">test 3</a>
                </li>
                <li>
                    <a href="#">test 4</a>
                </li>

            </ul>
        </div>
    </div>
</body>
