
@{
   
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grade</title>
</head>
<body>
    <div> 
        @ViewBag.Count
    </div>
</body>
</html>
